<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OAHub.Storage</title>
    <link rel="stylesheet" href="~/lib/carbon-components/css/carbon-components.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="bx--header" role="banner">
        <a class="bx--header__name" asp-controller="Home" asp-action="Index">
            <span class="bx--header__name--prefix">OAHub</span>
            &nbsp;[Storage]
        </a>
        <nav class="bx--header__nav">
            <ul class="bx--header__menu-bar" role="menubar">
                <li>
                    <a asp-controller="Home" asp-action="Index" class="bx--header__menu-item" role="menuitem" tabindex="0">
                        <span class="bx--text-truncate--end">Home</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="Privacy" class="bx--header__menu-item" role="menuitem" tabindex="0">
                        <span class="bx--text-truncate--end">Privacy</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="bx--header__global">
            <a asp-controller="Dashboard" asp-action="Overview" class="bx--header__menu-item" role="menuitem" tabindex="0">
                <span class="bx--text-truncate--end">Dashboard</span>
            </a>

            @if (User.Identity.IsAuthenticated)
            {
                <a class="bx--header__menu-item" role="menuitem" tabindex="0">
                    <span class="bx--text-truncate--end">Hello, @User.FindFirst("UserName").Value</span>
                </a>
                <a asp-controller="Auth" asp-action="SignOut" class="bx--header__menu-item" role="menuitem" tabindex="0">
                    <span class="bx--text-truncate--end">Sign Out</span>
                </a>
            }
            else
            {
                <a asp-controller="Auth" asp-action="PassportAuthorize" class="bx--header__menu-item" role="menuitem" tabindex="0">
                    <span class="bx--text-truncate--end">Sign In</span>
                </a>
            }
        </div>
    </header>
    <main id="main-content" class="bx--content">
        <div class="bx--grid">
            <div class="bx--row">
                <section class="bx--offset-lg-3 bx--col-lg-13">
                    @RenderBody()
                </section>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="bx--offset-lg-2 bx--col-lg-13">
            &copy; 2020 - OAHub.Storage - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/carbon-components/scripts/carbon-components.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
