@model OAHub.Storage.Models.ViewModels.Account.InitialModel
@{
    ViewData["Title"] = "Initial";
}

<form method="post" asp-route-userId="@Context.Request.Query["userId"]">
    <div class="bx--form-item" style="margin-bottom: 32px">
        <h2>Initial Account</h2>
    </div>
    <div class="bx--form-item" style="margin-bottom: 24px">
        <h6 for="text-input-3" class="bx--label">Shelf name</h6>
        <div class="bx--form__helper-text">
            The name of your shelf (You have 1 shelf at the beginning, it is the root of your files)
        </div>
        <input id="text-input-3" type="text" asp-for="ShelfName" class="bx--text-input" placeholder="Enter here...">
    </div>
    <div class="bx--form-item" style="margin-bottom: 24px">
        <h6 for="text-area-2" class="bx--label">Shelf description</h6>
        <div class="bx--form__helper-text">
            The description of your shelf
        </div>
        <textarea id="text-area-2" class="bx--text-area" rows="4" placeholder="Enter here..." asp-for="ShelfDescrption"></textarea>
    </div>
    <div class="bx--form-item" style="margin-top: 32px">
        <button type="submit" class="bx--btn bx--btn--primary">Submit</button>
    </div>
</form>
