
@{
    ViewData["Title"] = "Complete";
    Layout = "~/Views/Inside/_Layout.cshtml";
}

<div uk-grid>
    <div class="uk-card uk-card-default uk-card-large uk-card-body uk-width-1-1">
        <h3 class="uk-card-title">Completed</h3>
        <p>
            Your answer has been added to our database.
            <hr />
            You can close this page.
        </p>
    </div>
</div>

