
@{
    ViewData["Title"] = "Check";
    Layout = "~/Views/Inside/_Layout.cshtml";
}

<div uk-grid>
    <div class="uk-card uk-card-large uk-card-default uk-card-body uk-width-1-1">
        <h1 class="uk-card-title">Create <strong>Check</strong> Question</h1>

        <form method="post" id="checkForm" asp-action="Check" asp-route-formId="@Context.Request.Query["formId"]">
            <fieldset class="uk-fieldset">
                <legend class="uk-legend">Description</legend>

                <div class="uk-margin">
                    <textarea name="description" class="uk-textarea"></textarea>
                </div>
            </fieldset>

            <div class="uk-margin">
                <input name="encodedData" style="display: none" />
                <button type="button" class="uk-button uk-button-primary uk-width-1-1" onclick="packData()">Submit (Create)</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/areas/createSurv/standard/check.js"></script>
}
